.ipynb_checkpoints
/US_business_links/
/cats_dogs_sf/
/dataset/
/household_data/
/imagenet_model_imagenet/
/schizophrenia_clean/
/model_neuralnet_classifier_model/
/mnist-data/
/wikipedia_w16/
/wikipedia_w0/
/mnist_test/
